@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background: linear-gradient(120deg, #a8edea, #fed6e3);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scoreBox{
    position: absolute;
    top: 10px;
    right: 180px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 60px;
    right: 120px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 90vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.05);
    border-radius: 8px;
}

.snake{
    background-color: purple;
    border: 0.25vmin solid white;
    border-radius: 10px;
}

.food{
    background: linear-gradient(red, purple);
    border: 0.25vmin solid black;
    border-radius: 8px;
}
